@use 'sass:map';

$grid-map: (
  start: start,
  end: end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function get-grid-value($key) {
  @return map.get($grid-map, $key);
}

@mixin gridbox($js: start, $ai: start) {
  display: grid;
  align-items: get-grid-value($ai);
  justify-content: get-grid-value($js);
}
