@charset 'uft-8';
@use '@/styles/index.scss' as common;
@use './card.module.scss';
@use './table.module.scss';

.myDashboardPage {
  @include common.flexbox(start, start);
  background-color: common.$color-gray-FAFAFA;
}
.container {
  min-height: 100vh;
  overflow: auto;
  padding: 24px;
  @include common.flexbox(start, start);
  flex-direction: column;
  gap: 40px;
}
