@charset 'uft-8';
@use '@/styles/index.scss' as common;

.tableEmpty {
  @include common.flexbox(end);
  flex-direction: column;
  gap: 16px;
  width: 100%;
  flex-grow: 1;
  > .tableMessage {
    @include common.text-style('xs', 400, common.$color-gray-9FA6B2);
    margin-bottom: 80px;
  }
  @include common.mq-md() {
    > .tableMessage {
      @include common.text-style('2lg', 400, common.$color-gray-9FA6B2);
      margin-bottom: 120px;
    }
  }
  @include common.mq-lg() {
    max-width: 1022px;
  }
}

.invitationsContainer {
  @include common.flexbox(start, start);
  flex-direction: column;
  padding: 24px 0;
  border-radius: 8px;
  background-color: common.$color-white;
  min-height: 327px;
  min-width: 260px;

  @include common.mq-md() {
    min-height: 390px;
    min-width: 504px;
    padding: 24px 40px;
  }
  @include common.mq-lg() {
    // min-width: 960px;
    max-width: 1022px;
  }

  > .tableHeader {
    padding: 0 16px;
    > h2 {
      @include common.text-style('lg', 700);
      line-height: 24px;
    }
    > .searchTitle {
      @include common.flexbox(start);
    }
  }
  > .invitationsTable {
    margin: 105px auto 56px;
  }
}
