@charset 'uft-8';
@use '@/styles/index.scss' as common;

.invitationsContainer {
  padding: 24px 0;
  border-radius: 8px;
  background-color: common.$color-white;
  min-height: 327px;
  min-width: 220px;

  @include common.mq-md() {
    min-height: 390px;
    width: 504px;
    padding: 24px 40px;
  }
  @include common.mq-lg() {
    min-width: 960px;
  }

  > .tableHeader {
    padding: 0 16px;
    > h2 {
      @include common.text-style('lg', 700);
      line-height: 24px;
    }
    > .searchTitle {
      @include common.flexbox(start);
    }
  }
  > .invitationsTable {
    // height: 100%;
    // justify-self: stretch;
    // align-self: stretch;
    margin: 105px auto 56px;
    > .tableEmpty {
      @include common.flexbox();
      flex-direction: column;
      gap: 16px;
      > h6 {
        @include common.text-style('xs');
        color: common.$color-gray-9FA6B2;
      }
    }
  }
}
