// 폰트 weight 정의 (선택)
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// 텍스트 스타일 믹스인
@mixin text-3xl-bold {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: $weight-bold;
}

// 3xl - 32px
@mixin text-3xl-semibold {
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-weight: $weight-semibold;
}

@mixin text-2xl-regular {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: $weight-regular;
}

// 2xl - 24px
@mixin text-2xl-bold {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: $weight-bold;
}

@mixin text-2xl-semibold {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: $weight-semibold;
}

@mixin text-2xl-medium {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: $weight-medium;
}

// xl - 20px
@mixin text-xl-bold {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: $weight-bold;
}

@mixin text-xl-medium {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: $weight-medium;
}

@mixin text-xl-semibold {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: $weight-semibold;
}

@mixin text-xl-regular {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: $weight-regular;
}

// 2lg - 18px
@mixin text-2lg-bold {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: $weight-bold;
}

@mixin text-2lg-semibold {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: $weight-semibold;
}

@mixin text-2lg-medium {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: $weight-medium;
}

@mixin text-2lg-regular {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: $weight-regular;
}

// lg - 16px
@mixin text-lg-bold {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: $weight-bold;
}

@mixin text-lg-semibold {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: $weight-semibold;
}

@mixin text-lg-medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: $weight-medium;
}

@mixin text-lg-regular {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: $weight-regular;
}

// md - 14px
@mixin text-md-bold {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: $weight-bold;
}

@mixin text-md-semibold {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: $weight-semibold;
}

@mixin text-md-medium {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: $weight-medium;
}

@mixin text-md-regular {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: $weight-regular;
}

// sm - 13px
@mixin text-sm-semibold {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: $weight-semibold;
}

@mixin text-sm-medium {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: $weight-medium;
}

// xs - 12px
@mixin text-xs-semibold {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: $weight-semibold;
}

@mixin text-xs-medium {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: $weight-medium;
}

@mixin text-xs-regular {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: $weight-regular;
}
