@use '@/styles/index.scss' as *;

.XButton {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: -80px;

  @include text-style('3xl'); // 3rem == 48px
}

.editInput {
  margin-top: -10px;
}

.createInput {
  margin-top: -10px;
}

.columnModal {
  @include gridbox(stretch);
  gap: 24px;
  padding: 24px 16px !important;
  @include mq-md {
    padding: 24px !important;
  }
  > .columnModalContent {
    @include gridbox(stretch);
    gap: 24px;
    @include mq-md {
      gap: 16px;
    }
    > .modalHeader {
      @include flexbox(between);
      @include text-style('xl', 700);
      @include mq-md {
        @include text-style('2xl', 700);
      }
      > button > img {
        @include mq-md {
          width: 36px;
          height: 36px;
        }
      }
    }
    > .modalInput {
      @include gridbox(stretch);
      gap: 8px;
      > label {
        @include text-style('lg');
        @include mq-md {
          @include text-style('2lg');
        }
      }
    }
  }
  > .message {
    text-align: center;
    @include text-style('md');
    @include mq-md {
      @include text-style('lg');
    }
  }
}
