@use '@/styles/index.scss' as *;

.XButton {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: -80px;

  @include text-style('3xl'); // 3rem == 48px
}

.editInput {
  margin-top: -10px;
}

.createInput {
  margin-top: -10px;
}
