@use '@/styles/index.scss' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $color-gray-9FA6B2;
  border-radius: 8px;
  width: 35.1rem;
  height: 5rem;
  @include text-style('2lg', 500, $color-white);

  @include mq-sm {
    width: 52rem;
    height: 5rem;
  }

  &:hover {
    background-color: $color-violet-5534DA;
  }
}

// $color-violet-5534DA
