@use '@/styles/index.scss' as s;

.Button {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  background-color: s.$color-violet-5534DA;
  @include s.text-style('2lg', 500, s.$color-white);

  &:hover {
    background-color: s.$color-purple-760DDE;
  }

  &:disabled {
    background-color: s.$color-gray-9FA6B2;
    cursor: default;
    pointer-events: none;
  }
}
