@use '@/styles/index.scss' as s;

.backButton {
  @include s.flexbox(start, center);

  gap: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;

  @include s.text-style('1xl', 400, s.$color-gray-9FA6B2);

  .text {
    text-decoration: none;
    transition: text-decoration 0.2s;
    color: black;
  }

  &:hover .text {
    text-decoration: underline;
  }
}

.headfont {
  @include s.text-style('2xl', 700);
  margin-bottom: 20px;
  position: relative;
  left: -20px;
  top: -30px;
}

.profileBox {
  background-color: s.$color-white;
  max-width: 600px;
  padding: 50px;
  margin-left: 15px;
  margin-top: 15px;
}

.profileButton {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease;

  &:hover {
    @include s.text-style('2xl', 700);
  }

  &:active {
    transform: scale(0.97);
  }

  @media (max-width: s.$breakpoint-md) {
    margin-left: 20px;
  }
}

.profileButtonImg {
  width: '50%';
  height: '50%';
  object-fit: cover;
}
.rowWrapper {
  @include s.flexbox(start, start);

  gap: 16px;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-left: -50px;
  }
}
.formBox {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.passwordBox {
  margin-top: 50px;
  margin-left: 15px;
  background-color: s.$color-white;
  max-width: 600px;
  padding: 50px;
}

.profileTextBox {
  margin-left: 20px;
  max-width: 300px;
  width: 100%;
}

.inputBox {
  box-sizing: border-box;
  padding: 10px;
  width: 100% !important;
  height: 20%;
  margin-top: 10px;
}

.passwordInputBox {
  margin-top: -30px;

  @media (max-width: 767px) {
    margin-left: -20px;
  }
}

.errorInput {
  border-color: s.$color-red-D6173A;
}

.errorText {
  @include s.text-style('sm', 400, s.$color-red-D6173A);
  margin-top: 4px;
}
