@use '@/styles/index.scss' as common;

.sidebarWrapper {
  @include common.flexbox(start, start);
  background-color: common.$color-gray-FAFAFA;
  > .componentWrapper {
    flex-grow: 1;
    // overflow-y: scroll;
  }
}
.sidebarContainer {
  top: 0;
  left: 0;
  bottom: 0;
  position: sticky;
  flex-shrink: 0;
  @include common.flexbox(start, center);
  flex-direction: column;
  gap: 14px;

  border-right: 1px solid common.$color-gray-D9D9D9;
  background-color: common.$color-white;
  padding: 20px 0;
  height: 100vh;
  width: 67px;

  @include common.mq-md() {
    gap: 56px;
    width: 160px;
    align-items: flex-start;
    padding: 20px 12px;
  }
  @include common.mq-lg() {
    width: 300px;
    padding: 20px 8px;
    border: none;
  }

  > .logoArea {
    width: 40px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../public/images/logo/logo-small.svg');
    @include common.mq-md() {
      background-image: url('../../../public/images/logo/logo-large.svg');
      width: 108px;
      height: 33px;
    }
  }
}
.cardsContainer {
  @include common.flexbox(center, stretch);
  flex-direction: column;
  gap: 14px;
  width: 100%;
  @include common.mq-md() {
    gap: 16px;
  }
  > .cardsHeader {
    @include common.flexbox();
    @include common.mq-md() {
      justify-content: space-between;
    }
    h6 {
      @include common.text-style('xs', 600);
      line-height: 20px;
      color: common.$color-gray-787486;
      display: none;
      @include common.mq-md() {
        display: block;
      }
    }
    button {
      @include common.flexbox();
    }
  }
  > .cardsContent {
    @include common.flexbox();
    flex-direction: column;
    gap: 56px;
    > .cardList {
      width: 100%;
      @include common.gridbox(center, center);
      gap: 14px;
      @include common.mq-md() {
        justify-content: stretch;
        gap: 2px;
      }
      @include common.mq-lg() {
        gap: 8px;
      }
    }
    > .cardPagination {
      @include common.flexbox(start);
      visibility: hidden;
      width: 100%;
      @include common.mq-md() {
        visibility: inherit;
      }
    }
  }
}
.cardRow {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  @include common.flexbox(start);
  @include common.mq-md() {
    height: 43px;
    padding: 8px 10px;
  }
  @include common.mq-lg() {
    height: 50px;
    padding: 12px;
  }
  gap: 16px;
  .dashboardColor {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  .color-7AC555 {
    background-color: #7ac555;
  }
  .color-760DDE {
    background-color: #760dde;
  }
  .color-FFA500 {
    background-color: #ffa500;
  }
  .color-76A5EA {
    background-color: #76a5ea;
  }
  .color-E876EA {
    background-color: #e876ea;
  }
  > .dashboardTitle {
    display: none;
    height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include common.mq-md() {
      display: block;
      max-width: 80px;
      @include common.text-style('lg', 500, common.$color-gray-787486);
    }
    @include common.mq-lg() {
      max-width: 200px;
      @include common.text-style('2lg', 500, common.$color-gray-787486);
    }
  }
  .dashboardCrown {
    @include common.mq-md() {
      padding-right: 20px;
      background-size: 15px;
      background-image: url('../../../public/icon/crown.svg');
      background-position: right;
      background-repeat: no-repeat;
    }
    @include common.mq-lg() {
      padding-right: 24px;
      background-size: 18px;
    }
  }
}
.cardRowActive {
  @include common.mq-md() {
    background-color: common.$color-violet-8;
  }
}
